html {
  background: url(../images/shit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.prof-box{
width: 450px;
height: 500px;
background: rgba(0,0,0,0.4);
padding: 40px;
color: white;
margin: 0 auto;
margin-top: 140px;
text-align: center;
}

.prof-pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
h1{
  font-weight: 100px;
  font-size: 40px;
  letter-spacing: 6;
}

p{
  font-weight: 200px;
  letter-spacing: 2;
}

.social-links{
  font-size: 40px;

}
.social-links a{
  color: white;
}
.line-break{
  width: 400px;
  margin: 0 auto;
  border-top: 1px solid white;
}
